*.pyc
.*.swp
.DS_Store
.env
.ropeproject
_build
_resources
logs
unittest/mails/
unittest/samples/
virtualenvs

conf/components/*
!conf/components/*.example

conf/keywords/*
!conf/keywords/*.example

topologies/*
!topologies/*.clj.example
