cffi==1.7.0
contextlib2==0.5.3
ecdsa==0.13
elasticsearch==2.4.0
Fabric==1.11.1
invoke==0.12.2
Jinja2==2.8
lxml==3.6.0
MarkupSafe==0.23
paramiko==1.17.0
patool==1.12
prettytable==0.7.2
pycparser==2.14
pycrypto==2.6.1
pyparsing==2.1.1
python-magic==0.4.12
PyYAML==3.11
requests==2.11.1
simplejson==3.8.2
six==1.10.0
ssdeep==3.1.1
streamparse==2.1.4
tika-app==0.3
urllib3==1.16
virustotal-api==1.1.2
