PyYAML
astropy>=1.3.3
backports.functools-lru-cache>=1.3
chainmap
elasticsearch>=6.0.0, <7
lxml
mail-parser>=3
patool
pyparsing
python-magic
redis>=2.10.5, <3
shodan
simplejson
six
ssdeep
streamparse==3.11.0
tika-app
virustotal-api
